<h1>Photo <%= @photo.title.capitalize %></h1>

<div>
    <%= image_tag @photo.image_url, size: '600x400' %>
</div>

<h3>owner: <%= @photo.user.nickname.capitalize %></h3>

<%= link_to  "Back", root_path %>